<% layout('/layouts/boilerplate.ejs')%>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <!-- The below div spans to 6 columns but offset is 3. So 3-6-3, total 12. Another way of centering -->
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%=campground._id%>/edit?_method=PATCH"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%=campground.title%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        >
<%=campground.description%></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%=campground.location%>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Images</label>
        <input
          class="form-control"
          type="file"
          id="image"
          name="images"
          multiple="multiple"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <%campground.images.forEach((image,idx)=>{%> 
          <img src=<%=image.url%> alt="Campground Image" class="img-thumbnail"/>
          <div class="form-check-inline">
            <input type="checkbox" id="image-<%=image.fileName%>" value="<%=image.fileName%>" name="deleteImages[]"/>
          </div>
          <label for="image-<%=image.fileName%>">Delete?</label>
          <% })%>
      </div>
      <div class="input-group mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <span
            class="input-group-text"
            id="price-label"
            aria-labelledby="price"
            >&#8377;</span
          >
          <input
            type="number"
            id="price"
            placeholder="0"
            name="campground[price]"
            class="form-control"
            aria-label="Amount (in Rupees)"
            value="<%=campground.price%>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Update</button>
    </form>
  </div>
</div>
